[project]
	description = ??????win32??
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xiangmu110
[access "refs/for/refs/*"]
	read = group user/xiangmu110
	push = group user/xiangmu110
	label-Code-Review = -2..+2 group user/xiangmu110
	label-Verified = -1..+1 group user/xiangmu110
	rebase = group user/xiangmu110
	removeReviewer = group user/xiangmu110
	submit = group user/xiangmu110
[access "refs/heads/*"]
	read = group user/xiangmu110
	create = group user/xiangmu110
	push = +force group user/xiangmu110
	pushMerge = group user/xiangmu110
[access "refs/tags/*"]
	push = +force group user/xiangmu110
	pushTag = group user/xiangmu110
	pushSignedTag = group user/xiangmu110
